.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
.topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .padTop{
      padding-top:  20px !important;
  }
  .svgMain {margin-left:auto; margin-right:auto ;display:block;}
  .features {
    margin-top: 10px;
    min-height: 400px;
    border: 1px solid #8C8C8C;
    border-radius: 7px;
    color: #4A4A4A;
    overflow: hidden;
    position: relative;
  }
  
  
  .fixed-right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1030;
    margin: 0 1.5rem 1.5rem 0;
    border-radius: 50%;
}
.important {
  color: red;
}
